@font-face {
  font-family: 'Microsoft Yahei';
  src:  url('titleicon.eot?a26gpf');
  src:  url('titleicon.eot?a26gpf#iefix') format('embedded-opentype'),
    url('titleicon.ttf?a26gpf') format('truetype'),
    url('titleicon.woff?a26gpf') format('woff'),
    url('titleicon.svg?a26gpf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Microsoft Yahei' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-title-port:before {
  content: "\e900";
}
